.inicioContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #9dc4e1, #5d9bca);
    animation: fondoAnimado 10s ease infinite;
    font-family: 'Montserrat', sans-serif
}

@keyframes fondoAnimado {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem; 
}


.formContainer {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    padding: 2rem;
    width: 320px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.titulo {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.label {
    font-weight: bold;
    color: white;
    margin-bottom: 0.9rem;
}

input {
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.fieldGroup {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}


button {
    padding: 0.75rem;
    font-size: 1rem;
    background-color: #f6994c;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #f35b09;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.formContainer {
    animation: fadeInUp 1s ease forwards;
}